* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background-color: darkgreen;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header2 {
    color: black;
    background-color: white;
    overflow: auto;
    margin-bottom: 20px;
}

#logo_name {
    float: left;
}

#logo_name img {
    width: 255px;
    margin-left: 35px;
}

#header2 h2 {
    color: green;
    font-size: 32px;
    font-family: sans-serif;
}

#header2 p {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#header2 a {
    color: orangered;
}

#header2 nav {
    float: left;
    margin: 10px 0 10px 40px;
}

.ani_button {
    padding: 5px;
    margin: 14px 0 5px 0;
    color: white;
    /* background: darkgreen; */
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

.ani_button:hover {
    transform: scale(1.1);
}

#header2 nav ul {
    list-style: none;
    padding: 30px;
}

#header2 nav ul li {
    display: inline-block;
    margin: 0 30px 0 0;
    border: none;
}

#header2 button a {
    color: white;
    background-color: red;
    outline: none;
    text-decoration: none;
}

#header2 button {
    /* padding: 6px; */
    margin: 35px 0px 6px 0;
    background: red;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    padding: 7px 15px 6px 15px;
}

#header2 nav ul li a {
    outline: none;
    text-decoration: none;
    color: black;

    font-size: medium;
    font-family: sans-serif;
    font-weight: normal;
}

#p {
    padding: 5px;
}

#container {
    width: 1420px;
    margin: 0 auto;
    padding: 5px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 17px;
    overflow: auto;
}

#container #content {
    background: #E8F5E9;
    float: left;
    width: 60%;
}

#content figcaption {
    width: 50%;
    padding: 60px;
}

#content figcaption h3 {
    color: darkgreen;
    font-family: sans-serif;
    font-size: 22px;
    padding: 5px;
}

#content figcaption p {
    font-size: 18px;
    font-family: sans-serif;
    padding: 5px;
}

.sidebar {
    position: absolute;
    right: 55px;
    float: left;
    width: 54%;
    height: 720px;
    background: forestgreen;
    border-radius: 275px;
}

.sidebar h1 {
    position: absolute;
    right: 12px;
    top: 310px;
    font-size: 90px;
    color: white;
    font-family: sans-serif;
}

.sidebar::before {
    content: "";
    position: absolute;
    width: 102%;
    height: 753px;
    right: -1%;
    top: -8px;
    background: darkgreen;
    border-radius: 385px
}

#values {
    float: left;
    overflow: auto;
}

#values article {
    width: 20%;
    float: left;
    background: #E8F5E9;
    margin: 29px;
    border-radius: 20px;
    padding: 5px;
}

#values article figure figcaption h2.a {
    margin: 0 100px;
}

#values article figure figcaption h2.b {
    margin: 0 79px;
}

#values article figure figcaption p {
    margin: 4px 75px 4px 91px;
}

#values h3 {
    color: darkgreen;
    font-size: 22px;
    padding: 60px;
    padding-bottom: 0;
}

#values article figure img {
    width: 90px;
    margin: 0 97px;
}

#footer1 {
    width: 1430px;
    margin: 0 auto;
    border: 1px solid;
}

#footer1 #quick_links,
#footer1 #imp_doc,
#footer1 #contact {
    float: left;
    width: 376px;
    margin: 10px 50px;
}

#footer1 ul a {
    color: white;
    width: 186px;
    display: inline-block;
    line-height: 1.3em;
    outline: none;
    text-decoration: none;
    margin: 5px 0 0 0;
    font-family: sans-serif;
}

#footer1 article ul h4 {
    font-family: sans-serif;
    margin-bottom: 6px;
}

#footer2 {
    overflow: auto;
    clear: both;
    color: white;
    background: black;
    padding: 4px;
}

#footer2 p {
    width: 21%;
    float: left;
    margin: 0px 6px 0 59px;
}

#footer2 .lst_p {
    margin: 0 0 0 246px;
}

@media screen and (max-width:426px) {
    #header2 #logo_name {
        float: none;
    }

    #header2 nav {
        float: none;
        margin: 0;
    }
    #header2 nav ul{
        padding: 0;
    }

    #header2 nav ul li.ani_button {
        display: block;
        margin: 0;
        text-align: center;
    }

    #header2 button {
        display: block;
        margin: 10px auto;
    }

    #container {
        width: 100%;
        margin: 0;
    }

    #container #content {
        width: 100%;
        float: none;
    }

    #content figcaption {
        width: 100%;
        padding: 0;
    }
    #values{
        float: none;
    }
    #values article{
            width: 100%;
    float: none;
    margin: 0;
    }
}