* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background-color: darkgreen;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header2 {
    color: black;
    background-color: white;
    overflow: auto;
    margin-bottom: 20px;
}
#logo_name {
    float: left;
}

#logo_name img {
    width: 255px;
    margin-left: 35px;
}
#header2 h2 {
    color: green;
    font-size: 32px;
    font-family: sans-serif;
}

#header2 p {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#header2 a {
    color: orangered;
}

#header2 nav {
    float: left;
    margin: 0 0 0 81px;
}

#header2 nav ul {
    list-style: none;
    padding: 41px;
}

#header2 nav ul li {
    display: inline-block;
    margin: 0 30px 0 0;
}

#header2 button a {
    color: white;
    background-color: red;
    outline: none;
    text-decoration: none;
}

#header2 button {
    /* padding: 6px; */
    margin: 33px 0px 6px 0;
    background: red;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    padding: 7px 15px 6px 15px;
}

#header2 nav ul li a {
    outline: none;
    text-decoration: none;
    color: black;

    font-size: medium;
    font-family: sans-serif;
    font-weight: normal;
}

#container {
    width: 1000px;
    /* height: 843px; */
    margin: 0 auto;
    background-color: white;
    color: black;
    margin-bottom: 20px;
    border: 1px solid;
    overflow: auto;
    border-radius: 17px;
}
#p{
    padding: 2px;
    margin: 2px;
    background: aliceblue;
}
#container #sec article{
    width: 96%;
    height: 130px;
    box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
    background: aliceblue;
    padding: 17px;
}
#container #sec article figure img{
    float: left;
    width: 100px;
    padding: 20px;
}
#container #sec article figcaption{
        float: left;
    padding: 41px;
}
#sec p{
        padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
}
#sec table tbody tr th{
       padding: 10px;
    background: darkgreen;
    color: white;
    border-radius: 5px;
}
#sec table{
    width: 100%;
}
{
    width: 35px;
    float: left;
}
#sec table tbody tr td{
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
}
#sec table .start{
    text-align: start;
    padding: 30px;
}
#sec table tbody tr{
    box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
}
#sec table tbody td button{
    padding: 5px;
    background: darkgreen;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
/* #sec table td,#sec table th{
    border: 0.5px solid #333;
} */

.footer1 {
    width: 1430px;
    margin: 0 auto;
    border: 1px solid;
}

.footer1 #quick_links,
.footer1 #imp_doc,
.footer1 #contact {
    float: left;
    width: 376px;
    margin: 10px 50px;
}

.footer1 ul a {
    color: white;
    width: 186px;
    display: inline-block;
    line-height: 1.3em;
    outline: none;
    text-decoration: none;
    /* list-style: none; */
    margin: 5px 0 0 0;
    font-family: sans-serif;
}

.footer1 article ul h4 {
    font-family: sans-serif;
    margin-bottom: 6px;
}

#footer2 {
    overflow: auto;
    clear: both;
    color: white;
    background: black;
    padding: 4px;
}

#footer2 p {
    width: 21%;
    float: left;
    margin: 0px 6px 0 59px;
}

#footer2 .lst_p {
    margin: 0 0 0 246px;
}