*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    /* font-size: 13px; */
}

body{
    padding: 0;
    background:#f5f9f5;

}

.container{

    min-height:100vh;
    /* margin: 0 auto; */
    align-items:center;

    position:relative;

    overflow:hidden;

    background:white;
    /* radial-gradient(circle at top left,#ffffff,#eef8ee); */
}

/* Dotted Pattern */

.container::before{

    content:"";

    position:absolute;

    width:250px;
    height:250px;

    top:20px;
    left:20px;

    background-image:
    radial-gradient(#9cc79d 2px,transparent 2px);

    background-size:18px 18px;

    opacity:.35;

}

/* Login Card */

#login_card{

    width:370px;
    /* margin: 80px auto; */
    background:#fff;
        margin: 0 590px;
    border-radius:20px;

    padding:15px;

    box-shadow:
    0 15px 40px rgba(0,0,0,.15);
    position: absolute;
    z-index:10;

}
#heading{
    text-align: center;
}
#heading h1{
    color: darkgreen;
    
}
#heading p{
    color: gray;
    font-size: 13px;
}
.container img{
    
    width: 300px;
    margin: 33px 618px 0 618px;

}
#login_card form .input{
        width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}
#login_card form a{
    float: right;
}


.logo-section h1{

    color:#0d6b3d;

    margin-top:10px;

}

.logo-section h3{

    font-size:18px;

    margin:10px 0;

    color:#222;

}

.logo-section span{

    color:#d32f2f;

    font-weight:600;

}

h2{

    text-align:center;

    color:#0d6b3d;

    margin-top:20px;

}

.subtitle{

    text-align:center;

    color:#777;

    margin:10px 0 30px;

}

/* Input */

.input-box{

    display:flex;

    align-items:center;

    border:1px solid #ddd;

    border-radius:10px;

    padding:15px;

    margin-bottom:18px;

}

.input-box i{

    color:#0d6b3d;

    margin-right:10px;

}

.password{

    margin-left:auto;

    cursor:pointer;

}

.input-box input{

    border:none;

    outline:none;

    width:100%;

    font-size:15px;

}

/* Options */

.options{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

    font-size:14px;

}

.options a{

    text-decoration:none;

    color:#0d6b3d;

    font-weight:600;

}

/* Login Button */

.login-btn{

    width:100%;

    padding:14px;

    border:none;

    background:#0d6b3d;

    color:#fff;

    font-size:17px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}

.login-btn:hover{

    background:#09562f;

}

/* Divider */

.divider{

    text-align:center;

    margin:25px 0;

    color:#888;

}

/* Social Buttons */

.google,
.facebook{

    width:100%;

    padding:14px;

    margin-bottom:12px;

    border-radius:10px;

    border:1px solid #ddd;

    background:#fff;

    cursor:pointer;

    font-size:15px;

}

.google i{

    color:#db4437;

    margin-right:10px;

}

.facebook i{

    color:#1877f2;

    margin-right:10px;

}

.signup{

    text-align:center;

    margin-top:20px;

}

.signup a{

    color:#d32f2f;

    text-decoration:none;

    font-weight:600;

}

/* Footer Wave */

.wave{

    position:absolute;

    bottom:0;

    width:100%;

    height:130px;

    background:#0d6b3d;

}

.wave::before{

    content:"";

    position:absolute;

    width:110%;

    height:90px;

    left:-5%;

    top:-50px;

    background:#f4c430;

    border-radius:50%;

}

.wave::after{

    content:"";

    position:absolute;

    width:110%;

    height:70px;

    left:-5%;

    top:-25px;

    background:#157347;

    border-radius:50%;

}

/* Responsive */

@media(max-width:600px){

.login-card{

    width:90%;

    padding:25px;

}

.logo-section h3{

    font-size:16px;

}

.options{

    flex-direction:column;

    gap:10px;

}

}