*{
    padding: 0;
    margin: 0;
}
body{
    color: white;
    background-color:darkgreen;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#h1group ul li{
    display: inline-block;
}
#h1group{
    padding: 4px;
}
.h1_start{
    margin-left: 25px;
}
.h1_space{
    margin-left: 550px;
}
.line{
    margin: 0 3px;
}
#header2{
    color: black;
    background-color: white;
    overflow: auto;
}
#header2 #h2group{
    width: 1260px;
    margin: 0 auto;
}
#logo_name{
    float: left;
}
#h2group h2{
    color: green;
        font-size: 32px;
    font-family: sans-serif;
}
#h2group p{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}
#h2group a{
    color: orangered;
}
