* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background-color: darkgreen;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#h1group ul li {
    display: inline-block;
}

#h1group {
    padding: 4px;
}

.h1_start {
    margin-left: 25px;
}

.h1_space {
    margin-left: 550px;
}

.line {
    margin: 0 3px;
}

#header2 {
    color: black;
    background-color: white;
    overflow: auto;
}

/* #header2 #h2group{
    width: 1260px;
    margin: 0 auto;
} */
#logo_name {
    float: left;
}

#logo_name img {
    width: 255px;
    margin-left: 35px;
}

#header2 h2 {
    color: green;
    font-size: 32px;
    font-family: sans-serif;
}

#header2 p {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#header2 a {
    color: orangered;
}

#header2 nav {
    float: left;
    margin: 0 0 0 81px;
}

#header2 nav ul {
    list-style: none;
    padding: 41px;
}

#header2 nav ul li {
    display: inline-block;
    margin: 0 30px 0 0;
}

#header2 button a {
    color: white;
    background-color: red;
    outline: none;
    text-decoration: none;
}

#header2 button {
    /* padding: 6px; */
    margin: 33px 0px 6px 0;
    background: red;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    padding: 7px 15px 6px 15px;
}

#header2 nav ul li a {
    outline: none;
    text-decoration: none;
    color: black;

    font-size: medium;
    font-family: sans-serif;
    font-weight: normal;
}

#slider img {
    width: 100%;
    height: 265px;
}

#container {
    color: black;
    background: white;
}

#hon_mem {
    width: 1430px;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 10px;
}

#hon_mem #section1 {
    width: 875px;
    float: left;
    margin-right: 60px;
}

#section1 h3 {
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
    color: darkgreen;
    margin: 5px 0 0 0;
}

#section1 article figure figcaption button {
    border-radius: 4px;
    font-size: 11px;
    padding: 3px;
    color: white;
    background: darkgreen;
}

#hon_mem #section1 article {
    width: 210px;
    float: left;
    /* border: 1px solid whitesmoke; */
    padding: 4px;
    /* margin: 4px; */
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 7px;

}

#hon_mem #section1 article figure img {
    width: 91px;
    float: left;
    border: 1px solid whitesmoke;
    padding: 2px;

    /* box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.15); */
}

#hon_mem #section1 article figure figcaption {

    float: right;
    width: 95px;
}

#hon_mem #section1 article h4{
    font-family: sans-serif;
    /* font-weight: bold; */
    margin-top: 10px;
}

#hon_mem #section1 article figure p {
    font-family: sans-serif;
    font-size: 9px;
    margin: 17px 0;
    font-weight: bold;
}
#hon_mem #section1 .CM{
 margin: 12px 0;
}
#hon_mem #section2 {
    width: 480px;
    float: left;
    color: black;
    background-color: white;
    /* margin-top: 1px; */
    padding: 5px;

}

#section2 article {
    margin: 5px 0 0 0;
    padding: 8px;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.15);
}

#section2 article h3 {
    font-family: sans-serif;
    color: darkgreen;
    padding: 5px;
}

#section2 article p {
    line-height: 1.6em;
    padding: 2px;
}

#section2 article button {
    padding: 5px;
    margin: 14px 0 5px 0;
    color: white;
    background: darkgreen;
    border-radius: 5px;
}
#container #categories{
    width: 1430px;
    
    height: 120px;
    margin: 0 auto;
        background: white;
    overflow: auto;
    margin-bottom: 10px;
}
#categories article{
    width: 215px;
    float: left;
        padding: 3px;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.15);
    margin-right: 17px;
    border-radius: 7px;
    
}
#categories #a{
    background-color: #E8F5E9;
}
#categories #b{
    background-color: #E3F2FD;
}
#categories #c{
    background-color: #FFF8E1;
}
#categories #d{
    background-color: #FCE4EC;
}
#categories #e{
    background-color: #F1F8E9;
}

#categories article figure img{
    width: 45px;
    float: left;
    padding: 15px 0 0 3px;
        /* margin-right: 8px; */
}
#categories article figcaption{
        float: right;
    width: 160px;
}
#categories article figcaption h4{
    color: darkgreen;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 5px;
        padding: 12px 0 0 0;
}
#categories article figcaption p{
    line-height: 1.4em;
    margin-bottom: 5px;
}
#categories article figcaption a{
    color: darkgreen;
    /* padding: 2px; */
    font-size: 12px;
    outline: none;
    text-decoration: none;
    font-weight: bold;
        padding: 3px 0 9px 0;
}
#categories article.last{
    padding-bottom: 22px;
     background-color: #FFF3E0;
}
#section_last{
    width: 1430px;
    margin: 0 auto;
}
#container #section_last section{
    width: 460px;
    line-height: 1.8em;
        padding: 10px;
        box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.15);
 

}
#container #section_last #news{
    width: 370px;
    float: left;
}
#section_last #news h2{
        color: darkgreen;
    font-family: sans-serif;
}
#section_last #sidebar{
    display: inline-block;
    width: 60px;
}
