* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background-color: darkgreen;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#h1group ul li {
    display: inline-block;
}

#h1group ul a {
    color: white;
    outline: none;
    text-decoration: none;
}

#h1group {
    padding: 4px;
}

.h1_start {
    margin-left: 25px;
}

.h1_space {
    margin-left: 550px;
}

.line {
    margin: 0 3px;
}

#header2 {
    color: black;
    background-color: white;
    overflow: auto;
}

/* #header2 #h2group{
    width: 1260px;
    margin: 0 auto;
} */
#logo_name {
    float: left;
}

#logo_name img {
    width: 255px;
    margin-left: 35px;
}

#header2 h2 {
    color: green;
    font-size: 32px;
    font-family: sans-serif;
}

#header2 p {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#header2 a {
    color: orangered;
}

#header2 nav {
    float: left;
    margin: 0 0 0 81px;
}

#header2 nav ul {
    list-style: none;
    padding: 41px;
}

#header2 nav ul li {
    display: inline-block;
    margin: 0 30px 0 0;
}

#header2 button a {
    color: white;
    background-color: red;
    outline: none;
    text-decoration: none;
}

#header2 button {
    /* padding: 6px; */
    margin: 33px 0px 6px 0;
    background: red;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    padding: 7px 15px 6px 15px;
}

#header2 nav ul li a {
    outline: none;
    text-decoration: none;
    color: black;

    font-size: medium;
    font-family: sans-serif;
    font-weight: normal;
}

#slider img {
    width: 100%;
    height: 265px;
}

#container {
    color: black;
    background: white;
    padding: 0 0 20px 0;
}

#hon_mem {
    width: 1430px;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 13px;
}

#hon_mem #section1 {
    width: 875px;
    float: left;
    margin-right: 37px;
    margin-top: 3px;
}

#section1 h3 {
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
    color: darkgreen;
    margin: 5px 0 0 0;
}

#section1 article figure figcaption button {
    border-radius: 4px;
    font-size: 11px;
    padding: 3px;
    color: white;
    background: darkgreen;
}

#hon_mem #section1 article {
    width: 203px;
    float: left;
    /* border: 1px solid whitesmoke; */
    padding: 4px;
    margin-right: 7px;
    box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 7px;

}

#hon_mem #section1 article figure img {
    width: 91px;
    float: left;
    border: 1px solid whitesmoke;
    padding: 2px;

    /* box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.15); */
}

#hon_mem #section1 article figure figcaption {

    float: right;
    width: 95px;
}

#hon_mem #section1 article h4 {
    font-family: sans-serif;
    /* font-weight: bold; */
    margin-top: 10px;
}

#hon_mem #section1 article figure p {
    font-family: sans-serif;
    font-size: 9px;
    margin: 17px 0;
    font-weight: bold;
}

#hon_mem #section1 .CM {
    margin: 12px 0;
}

#hon_mem #section2 {
    width: 503px;
    float: left;
    color: black;
    background-color: white;
    /* margin-top: 1px; */
    padding: 5px;

}

#section2 article {
    margin: 5px 0 0 0;
    padding: 8px;
    box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
}

#section2 article h3 {
    font-family: sans-serif;
    color: darkgreen;
    padding: 5px;
}

#section2 article p {
    line-height: 1.6em;
    padding: 2px;
}

#section2 article button {
    padding: 5px;
    margin: 14px 0 5px 0;
    color: white;
    background: darkgreen;
    border-radius: 5px;
}

#container #categories {
    width: 1430px;
    height: 120px;
    margin: 0 auto;
    background: white;
    overflow: auto;
    margin-bottom: 28px;
}

#categories article {
    width: 215px;
    float: left;
    padding-bottom: 10px;
    box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
    margin-right: 26px;
    border-radius: 7px;

}

#categories #a {
    background-color: #E8F5E9;
}

#categories #b {
    background-color: #E3F2FD;
}

#categories #c {
    background-color: #FFF8E1;
}

#categories #d {
    background-color: #FCE4EC;
}

#categories #e {
    background-color: #F1F8E9;
}

#categories article figure img {
    width: 45px;
    float: left;
    padding: 15px 0 0 3px;
    /* margin-right: 8px; */
}

#categories article figcaption {
    float: right;
    width: 160px;
}

#categories article figcaption h4 {
    color: darkgreen;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 5px;
    padding: 12px 0 0 0;
}

#categories article figcaption p {
    line-height: 1.4em;
    margin-bottom: 5px;
}

#categories article figcaption a {
    color: darkgreen;
    /* padding: 2px; */
    font-size: 12px;
    outline: none;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0 9px 0;
}

#categories article.last {
    padding-bottom: 28px;
    background-color: #FFF3E0;
    margin-right: 9px;
}

#section_last {
    width: 1430px;
    margin: 0 auto;
}

#container #section_last #news_updates {
    width: 460px;
    line-height: 1.8em;
    padding: 6px;
    box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
    float: left;
    margin-right: 10px;
    border-radius: 7px;

}

#container #section_last #news {
    width: 370px;
    float: left;
}

#section_last #news h3 {
    color: darkgreen;
    font-family: sans-serif;
    margin-top: 4px;
    /* margin-left: 2px; */
}

#section_last #sidebar {
    display: inline-block;
    width: 60px;
    padding: 0 0 0 20px;
}

.button {
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 1px 6px 1px 5px;
    color: black;
    background: white;
    font-family: sans-serif;
}

#h3_button {
    overflow: auto;
}

#h3_button h3 {
    float: left;
    /* margin-right: 244px; */
    color: darkgreen;
    font-family: sans-serif;
    margin: 4px 244px 0 0;
}

#section_last {
    overflow: auto;
}

#section_last #gallery {
    float: left;
    width: 460px;
    padding: 6px 6px 0 6px;
    box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
    border-radius: 7px;
}

#section_last #gallery img {
    width: 135px;
    height: 90px;
    padding: 16px 7px 18px 7px;
    border-radius: 17px;
}

#section_last #diary_pub {
    float: left;
    width: 270px;
    box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    margin-right: 9px;
}

#diary_pub #DP_PUB {
    float: left;
    width: 200px;
    font-family: sans-serif;
    /* padding: 5px; */
}

#diary_pub #DP_PUB h3 {
    font-family: sans-serif;
    color: darkgreen;
    padding: 5px;
    margin-top: 4px;
}

#diary_pub #DP_PUB figure img {
    width: 36px;
    float: left;
}

#diary_pub #DP_PUB figure {
    padding: 0px 4px 5px 10px;
}

#diary_pub #DP_PUB figure figcaption {
    /* float: left; */
    width: 147px;
}

#diary_pub #DP_PUB figure figcaption h4 {
    font-family: sans-serif;
}

#diary_pub #DP_PUB figure figcaption p {
    font-size: 10px;
}

#section_last #diary_pub #sideba {
    width: 65px;
    padding: 2px;
    display: inline-block;
}

#section_last #diary_pub #sideba button {
    margin-bottom: 14px;
    margin-top: 4px;
}

#sideba #VA {
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 1px 6px 1px 5px;
    color: black;
    background: white;
    font-family: sans-serif;
}

#sideba .b {
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 4px;
    color: white;
    background: darkgreen;
    font-family: sans-serif;
    font-size: 10px;
}

#section_last #members {
    float: left;
    width: 180px;
    background: green;
    border-radius: 7px;
    /* box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15); */
}

#section_last #members a {
    color: white;
    outline: none;
    text-decoration: none;
    font-family: sans-serif;
}

#section_last #members a figure img {
    width: 55px;
    margin: 14px 45px 0 45px;
}

#section_last #members a figure {
    margin: 4px 8px 3px 10px;
}

#section_last #members a figure figcaption h3 {
    font-size: 13px;
}

#section_last #members a figure figcaption p {
    font-size: 11px;
    margin: 6px 16px 34px 12px;
}

#footer1 {
    width: 1430px;
    margin: 0 auto;
}

#footer1 #quick_links,
#footer1 #imp_doc,
#footer1 #contact {
    float: left;
    width: 376px;
    margin: 10px 50px;
}

#footer1 ul a {
    color: white;
    width: 186px;
    display: inline-block;
    line-height: 1.3em;
    outline: none;
    text-decoration: none;
    /* list-style: none; */
    margin: 5px 0 0 0;
    font-family: sans-serif;
}

#footer1 article ul h4 {
    font-family: sans-serif;
    margin-bottom: 6px;
}

#footer2 {
    overflow: auto;
    clear: both;
    color: white;
    background: black;
    padding: 4px;
}

#footer2 p {
    width: 21%;
    float: left;
    margin: 0px 6px 0 59px;
}

#footer2 .lst_p {
    margin: 0 0 0 246px;
}

@media screen and (max-width:426px) {

    #header1,
    #container {
        width: 100%;
    }

    #h1group li.h1_start,
    #h1group li.h1_mid {
        display: block;
        text-align: center;
    }

    #h1group li.h1_space {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #header1 #h1group li.line {
        display: none;
        margin: 0;
        text-align: center;
        line-height: 1.4em;
    }

    #logo_name {
        float: none;
        width: 100%;
    }
    #logo_name img{
        width: 100%;
    margin: 0;
    }
    #header2 nav{
        float: none;
    width: 100%;
    }
    #header2 nav li {
        display: block;
    text-align: center;
    }
}